
!.vscode/*.code-snippets
!.vscode/launch.json
!.yarn/releases
# Drive original assets (large, not for web)
# deps
# dev
# env
# logs
# misc
# prod
*.log
.DS_Store
.dev.vars
.env
.env.production
.github/workflows/
.idea/shelf
.idea/usage.statistics.xml
.idea/workspace.xml
.vscode/*
.wrangler
.yarn/
_*.png
assets/
dist/
lerna-debug.log*
logs/
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
